<!-- views/partials/header.ejs -->

<nav class="navbar navbar-light bg-light navbar-expand-md">
  <a href="/" class="navbar-brand">Thomas Cook Passenger Lists</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="nav">
    <ul class="navbar-nav">
      <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
      <li class="nav-item"><a href="/dates" class="nav-link">Browse by dates</a></li>
      <li class="nav-item"><a href="/ships" class="nav-link">Browse by ships</a></li>
      <li class="nav-item"><a href="/search" class="nav-link">Search</a></li>
      <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
    </ul>
  </div>
</nav>