/* publication.css - styles for the publication viewing page */

#report-btn {
  margin-bottom: .5em;
}

#pic-viewer > img {
  position: center;
  height: 100%;
  width: 100%;
  left: 0;
}

details > summary {
  width: max-content;
  text-transform: uppercase;
  font-size: smaller;
  margin-bottom: 1em;
}

dl {
  margin-left: 1em;
}