<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nile Travelogues - Not found</title>
  <%- include("../partials/head") %>
</head>
<body>
  <header>
    <%- include("../partials/header") %>
    <h1 class="container">404 Not found</h1>
  </header>
  <main class="container">
    <p class="h2">The Pyramids were built in a far away land!</p>
    <p>You requested a resource that doesn't exist at this URL. <a href="/">Return home</a>.</p>
  </main>
  <%- include("../partials/footer") %>
</body>
</html>