<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thomas Cook Passenger Lists - About</title>
    <%- include("../partials/head") %>
</head>

<body>
    <header>
        <%- include("../partials/header") %>
            <h1 class="container">About Nile Travelogues</h1>
    </header>
    <main class="container">
        <section>
            <h2>Who we are</h2>
            <p>Thomas Cook Passenger Lists is a part of <a href="http://www.newbookdigitaltexts.org/">Newbook
        Digital Texts</a>, a digital humanities publishing house sponsored by the University of Washington's Department of Near Eastern Languages and Civilization.
                <ul>
                    <li>Project Director: <a href="https://sarahketchley.com/">Sarah L. Ketchley, Ph.D</a></li>
                    <li>Developer: Yanni Zhou</a>
                    </li>
                </ul>
            </p>
        </section>
        <section>
            <h2>How it was made</h2>
            <p>
                The database was developed by Yanni Zhou as an intern, who extracted the data from pictures of the passenger lists provided from Dr. Ketchley, created the database, and programmed this web application.
            </p>

            <h3>Data acquisition and processing</h3>
            <p>The data from Thomas Cook Passenger Lists were provided by Dr. Ketchley as pictures shown on the information page for each ship.
            </p>
            <p>
                An OCRed version of the pictures was used to extract its contents and put them in an SQL database. Since some contents from the OCR are not clear and even contain errors such as spelling and so on, some data put in the SQL database is manually entered.
            </p>

        </section>
    </main>
    <%- include("../partials/footer") %>
</body>

</html>