<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thomas Cook</title>
  <%- include("../partials/head") %>
  <link rel="stylesheet" href="/css/home.css">
</head>
<body>
  <header>
    <%- include("../partials/header") %>
    <div class="landing-image">
      <div class="col-sm-5 align-items-end">
        <h1 class="d-block">Welcome to Thomas Cook Passenger Lists!</h1>
        <a class="start-exploring btn btn-outline-light" href="/publications-list">
          Start exploring
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 18">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
          </svg>
        </a>
      </div>
    </div>
  </header>
  <main class="container">
    <p>
      Nile Travelogues is a database containing travelogues written by those who travelled to Egypt
      during the Golden Age of Egyptian Archaeology (late 19th and early 20th Century). Nile
      Travelogues started off with publications listed in <cite>Nile Notes of a Howadji</cite> by
      Martin Kalfatovic. Many publications can be read right here, thanks to book scans from the
      <a href="https://archive.org/">Internet Archive.</a>
    </p>
    <p>
      Nile Travelogues is a part of <a href="https://www.newbookdigitaltexts.org/">Newbook Digital
      Texts</a>, a digital humanities publishing house sponsored by the University of Washington's
      Department of Near Eastern Languages and Civilization.
    </p>
  </main>
  <%- include("../partials/footer") %>
</body>
</html>