<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nile Travelogues - View publication</title>
  <link rel="stylesheet" href="/css/publication.css">
  <%- include("../partials/head") %>
</head>
<body>
  <header>
    <%- include("../partials/header") %>
    <div class="container">
      <h1 id="title"></h1>
      <a id="report-btn" class="btn btn-warning btn-sm d-none">⚑ Report issue</a>
      <details id="publication-details">
        <summary>Show more info</summary>
        <dl>
          <div class="row">
            <dt class="col-sm-3">Author(s)</dt>
            <dd class="col-sm-9">
              <ul id="authors" class="plain-authorlist"></ul>
            </dd>
          </div>
          <div class="row d-none">
            <dt class="col-sm-3">Travel dates</dt>
            <dd class="col-sm-9" id="travel-dates"></dd>
          </div>
          <div class="row d-none">
            <dt class="col-sm-3">Publisher</dt>
            <dd class="col-sm-9" id="publisher"></dd>
          </div>
          <div class="row d-none">
            <dt class="col-sm-3">Place of publication</dt>
            <dd class="col-sm-9" id="publication-place"></dd>
          </div>
          <div class="row d-none">
            <dt class="col-sm-3">Publication date</dt>
            <dd class="col-sm-9" id="publication-date"></dd>
          </div>
          <div class="row d-none">
            <dt class="col-sm-3">Misc. publisher info</dt>
            <dd class="col-sm-9" id="publisher-misc"></dd>
          </div>
          <div class="row d-none">
            <dt class="col-sm-3">Summary</dt>
            <dd class="col-sm-9" id="summary"></dd>
          </div>
          <div class="row d-none">
            <dt class="col-sm-3">Travelogues ID</dt>
            <dd class="col-sm-9" id="id"></dd>
          </div>
        </dl>
      </details>
    </div>
  </header>
  <main>
    <div id="no-iiif-alert"
      class="alert alert-warning alert-dismissable fade show container d-none" role="alert">
      We do not have scanned images of pages from this publication. (IIIF Manifest not found)
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div id="mirador-viewer"></div>
  </main>
  <%- include("../partials/footer") %>
  <script type="module" src="/js/check-status.mjs"></script>
  <script type="module" src="/js/lists.mjs"></script>
</body>
</html>