<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nile Travelogues - Report issue</title>
  <link rel="stylesheet" href="/css/form.css">
  <%- include("../partials/head") %>
</head>
<body>
  <header>
    <%- include("../partials/header") %>
    <h1 class="container">Report issue</h1>
  </header>
  <main class="container">
    <form action="mailto:ketchley@uw.edu?subject=Nile Travelogues issue report"
      method="POST" enctype="text/plain">
      <div class="row">
        <label for="reporter-email" class="col-sm-2">Your email</label>
        <input type="text" class="form-control col-sm-10" id="reporter-email" name="reporter-email">
      </div>
      <div class="row">
        <label for="publication-id" class="col-sm-2">Ship ID</label>
        <input type="number" class="form-control col-sm-10" id="publication-id" name="publication-id">
      </div>
      <div class="row">
        <label for="publication-title" class="col-sm-2">Ship Date</label>
        <input type="text" class="form-control col-sm-10" id="publication-title" name="publication-title">
      </div>
      <div class="row">
        <label for="issue-description" class="col-sm-2">Issue description</label>
        <textarea class="form-control col-sm-10" id="issue-description" name="issue-description"></textarea>
      </div>
    </form>
    <button id="search-btn">Submit</button>
    <p id="error"></p>
  </main>
  <script type="module" src="/js/report-issue.mjs"></script>
  <%- include("../partials/footer") %>
</body>
</html>